<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.TransSerialMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.TransSerial" >
    <id column="serialId" property="serialid" jdbcType="VARCHAR" />
    <result column="transDate" property="transdate" jdbcType="VARCHAR" />
    <result column="transTime" property="transtime" jdbcType="VARCHAR" />
    <result column="transType" property="transtype" jdbcType="VARCHAR" />
    <result column="transStatus" property="transstatus" jdbcType="VARCHAR" />
    <result column="openId" property="openid" jdbcType="VARCHAR" />
    <result column="accountNo" property="accountno" jdbcType="VARCHAR" />
    <result column="serivceId" property="serivceid" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serialId, transDate, transTime, transType, transStatus, openId, accountNo, serivceId, 
    orderNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eliteams.quick4j.web.model.TransSerialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from transSerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from transSerial
    where serialId = #{serialid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from transSerial
    where serialId = #{serialid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.eliteams.quick4j.web.model.TransSerialExample" >
    delete from transSerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.TransSerial" >
    insert into transSerial (serialId, transDate, transTime, 
      transType, transStatus, openId, 
      accountNo, serivceId, orderNo
      )
    values (#{serialid,jdbcType=VARCHAR}, #{transdate,jdbcType=VARCHAR}, #{transtime,jdbcType=VARCHAR}, 
      #{transtype,jdbcType=VARCHAR}, #{transstatus,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{accountno,jdbcType=VARCHAR}, #{serivceid,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eliteams.quick4j.web.model.TransSerial" >
    insert into transSerial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialid != null" >
        serialId,
      </if>
      <if test="transdate != null" >
        transDate,
      </if>
      <if test="transtime != null" >
        transTime,
      </if>
      <if test="transtype != null" >
        transType,
      </if>
      <if test="transstatus != null" >
        transStatus,
      </if>
      <if test="openid != null" >
        openId,
      </if>
      <if test="accountno != null" >
        accountNo,
      </if>
      <if test="serivceid != null" >
        serivceId,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialid != null" >
        #{serialid,jdbcType=VARCHAR},
      </if>
      <if test="transdate != null" >
        #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null" >
        #{transtime,jdbcType=VARCHAR},
      </if>
      <if test="transtype != null" >
        #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="transstatus != null" >
        #{transstatus,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="serivceid != null" >
        #{serivceid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eliteams.quick4j.web.model.TransSerialExample" resultType="java.lang.Integer" >
    select count(*) from transSerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update transSerial
    <set >
      <if test="record.serialid != null" >
        serialId = #{record.serialid,jdbcType=VARCHAR},
      </if>
      <if test="record.transdate != null" >
        transDate = #{record.transdate,jdbcType=VARCHAR},
      </if>
      <if test="record.transtime != null" >
        transTime = #{record.transtime,jdbcType=VARCHAR},
      </if>
      <if test="record.transtype != null" >
        transType = #{record.transtype,jdbcType=VARCHAR},
      </if>
      <if test="record.transstatus != null" >
        transStatus = #{record.transstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openId = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.accountno != null" >
        accountNo = #{record.accountno,jdbcType=VARCHAR},
      </if>
      <if test="record.serivceid != null" >
        serivceId = #{record.serivceid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update transSerial
    set serialId = #{record.serialid,jdbcType=VARCHAR},
      transDate = #{record.transdate,jdbcType=VARCHAR},
      transTime = #{record.transtime,jdbcType=VARCHAR},
      transType = #{record.transtype,jdbcType=VARCHAR},
      transStatus = #{record.transstatus,jdbcType=VARCHAR},
      openId = #{record.openid,jdbcType=VARCHAR},
      accountNo = #{record.accountno,jdbcType=VARCHAR},
      serivceId = #{record.serivceid,jdbcType=VARCHAR},
      orderNo = #{record.orderno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.TransSerial" >
    update transSerial
    <set >
      <if test="transdate != null" >
        transDate = #{transdate,jdbcType=VARCHAR},
      </if>
      <if test="transtime != null" >
        transTime = #{transtime,jdbcType=VARCHAR},
      </if>
      <if test="transtype != null" >
        transType = #{transtype,jdbcType=VARCHAR},
      </if>
      <if test="transstatus != null" >
        transStatus = #{transstatus,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        accountNo = #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="serivceid != null" >
        serivceId = #{serivceid,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
    </set>
    where serialId = #{serialid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.TransSerial" >
    update transSerial
    set transDate = #{transdate,jdbcType=VARCHAR},
      transTime = #{transtime,jdbcType=VARCHAR},
      transType = #{transtype,jdbcType=VARCHAR},
      transStatus = #{transstatus,jdbcType=VARCHAR},
      openId = #{openid,jdbcType=VARCHAR},
      accountNo = #{accountno,jdbcType=VARCHAR},
      serivceId = #{serivceid,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=VARCHAR}
    where serialId = #{serialid,jdbcType=VARCHAR}
  </update>
</mapper>